<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjrt.xuekaotong"
    android:versionCode="1"
    android:versionName="1.0.2" >

    <support-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyData"
            android:label="@string/title_activity_my_data"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyCollection"
            android:label="@string/title_activity_my_collection"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Register"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.TeacherDetail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.VideoDetail"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".activity.SetActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyWallet"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Feedback"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyCoupon"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Register2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Register3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ShouyeMore"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.VideoCategory"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ShouyeTeacherMore"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Search"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Recharge"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Output"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.RecentCharge"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyBankCard"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyAccount"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.PayManage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Exchange"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.AboutUs"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.MyCache"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Rename"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.SkipUrl"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".citylist.LocationMainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 下载 -->

        <activity
            android:name="com.ablesky.activity.VerificationDownloaderActivity"
            android:label="请稍候，正在努力加载信息"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FloatActivity" >
        </activity>

        <service android:name="com.ablesky.download.DownloadService" >
        </service>
        <service android:name="com.ablesky.download.AgainDownloadService" >
        </service>

        <!-- 播放 -->

        <activity
            android:name="com.ablesky.activity.VerificationActivity"
            android:label="@string/verfication"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.ablesky.activity.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
